.title{
	font-size:25px;
	font-family:Verdana;

}
body{
	margin:12px;
	padding:20px;
	background-color:#F5DEB3;
}
.par
{
	font-size:15px;
	font-family:Monaco;
	padding:0px;
	margin:0px;
	white-space:normal;
}