body{
	font-family:Arial, sans-serif;
	margin:0 px;
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	background-color:#f8f8f8;
	background-image:url("https://i.ibb.co/QXGzNSh/vecteezy-gold-gradient-background-with-copy-space-area-luxurious-and.jpg" );
}
.menu {
    display: flex;
    flex-wrap: wrap;
    display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px; /* Adjust the gap as needed */
            padding: 20px;
}

.menu-item {
    margin: 10px;
    text-align: center;
}

.menu-item img {
    width: 150px;  /* Set the desired width */
    height: 150px; /* Set the desired height */
    object-fit: cover; /* Ensures the image covers the area and maintains aspect ratio */
    border-radius: 10px; /* Optional: adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
}

.menu-item p {
    margin-top: 10px;
}